<div class="jumbotron">
    <div class="display-8">Options d'ajout de zone</div>
    {{  form_start(form) }}
    {{  form_widget(form) }}

    {{ form_end(form) }}

    <div class="row">
        <div class="col-sm-12">
            <button id="zone-validate">Valider</button>
            <button id="close">Fermer</button>
        </div>

    </div>

</div>