<div class="jumbotron">
    <div class="display-8">Options de création de page</div>
    <div class="row">
        <div class="col-sm-6">Name :</div>
        <div class="col-sm-6"><input type="text" name="name" id="name" value=""></div>
    </div>
    <div class="row">
        <div class="col-sm-6">Container fuild :</div>
        <div class="col-sm-6"><input type="checkbox" name="fluid" id="fluid" value="1"></div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <button id="create-validate">Valider</button>
            <button id="close">Fermer</button>
        </div>

    </div>

</div>