<ul>
	<li><a  id="style-bloc">Style du bloc</a></li>
    <li><a  id="add-content">Ajouter un contenu</a></li>

</ul>
<script>
    $(document).ready(function () {
		$("#style-bloc").click(function() {
			open_popup_style("{{ zone }}");
		})
        $("#add-content").click(function () {

            $.ajax({
                url: url_popup_content,
                method: "POST",
				data: {bloc:"{{ zone }}",id: ""},
                success: function (result) {
                    $("#popup").html(result);
                    $("#popup").show();
                    close();


                }
            })
        })


    })

</script>