<div class="jumbotron">
    <h2 class="display-8">Options de création de page</h2>
    <div class="row">
        <div class="col-sm-6">Name :</div>
        <div class="col-sm-6"><input type="text" name="name" id="name" value="" class="form-control"></div>
    </div>
    <div class="row">
        <div class="col-sm-12">Description :</div>
        <div class="col-sm-12">
            <textarea id="description" rows="10" cols="50" class="form-control"></textarea>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">Container fuild :</div>
        <div class="col-sm-6"><input type="checkbox" name="fluid" id="fluid" value="1"></div>
    </div>
    <div class="row">

            <div class="col-sm-6">
                <button id="create-validate" class="form-control btn-primary">Valider</button>
            </div>
            <div class="col-sm-6">

                <input type="button" id="close" value="Fermer" class="form-control btn-cancel" />
            </div>


    </div>

</div>
