.popup {
  position: fixed;
  width: 600px;

  display: none;
  top: 200px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}
.popup .jumbotron {
  height: 100%;
  margin: 0;
}
.navbar-fixed {
  position: fixed;
  z-index: 100;
  width: 100%;
}
#page {
  padding-top: 70px;
}
.create {
  background: #ffffee;
  min-height: 20px;
  width: 100%;

  .row {

    min-height: 200px;

    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
      border: 1px solid lightgrey;
    }

    .for-action {
      position: relative;
      .action {
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        display: none;
        background: #dadada;
        cursor: pointer;
        z-index: 10;

      }

      &:hover {
        .action {
          display: block;
        }
      }

      .contents {


        .content {
          position: relative;
          border: 1px dashed #efefef;
          .edit {
            top: 0;
            right: 0;
            position: absolute;
            width: 20px;
            height: 20px;
            background: red;
            cursor: pointer;
            z-index: 10;
          }
        }
      }

    }

 }
}
