.popup {
  position: fixed;
  width: 70%;
  min-width: 800px;
  display: none;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10000; }
  .popup form {
    height: 100%; }

.popup .jumbotron {
  height: 100%;
  margin: 0; }

.navbar-fixed {
  position: fixed;
  z-index: 100;
  width: 100%; }

#page {
  padding-top: 70px; }
  #page .jumbotron {
    margin-bottom: 0; }
  #page table tr {
    cursor: pointer; }
  #page .chapo .h2 {
    color: #000;
    min-height: 50px;
    background: transparent;
    border: 1px dashed transparent;
    width: 100%; }
    #page .chapo .h2:hover {
      border: 1px dashed #000;
      background: #fff; }
  #page .chapo .h1 {
    color: #000;
    min-height: 50px;
    border: 1px dashed transparent;
    background: transparent;
    width: 100%; }
    #page .chapo .h1:hover {
      background: #fff;
      border: 1px dashed #000; }

.create .global-row {
  /*margin-left: -15px;
  margin-right: -15px;*/
  background: #ffffee;
  min-height: 20px; }
  .create .global-row .content-wrapper {
    cursor: default;
    border: 1px solid transparent;
    /*padding-top: 30px;*/
    position: relative;
    /*width: 100%;*/ }
    .create .global-row .content-wrapper:hover {
      border: 1px solid green; }
    .create .global-row .content-wrapper .p-action {
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      background: green;
      cursor: pointer;
      text-align: center;
      color: #fff; }
    .create .global-row .content-wrapper > .sortable {
      padding: 0; }
      .create .global-row .content-wrapper > .sortable .zone {
        margin: 20px;
        border: 1px solid transparent;
        padding: 20px;
        padding-top: 30px;
        list-style: none;
        position: relative; }
        .create .global-row .content-wrapper > .sortable .zone:hover {
          cursor: grab;
          border: 1px solid darkred; }
        .create .global-row .content-wrapper > .sortable .zone .bloc {
          min-height: 50px;
          background: #EFF6FC;
          padding: 15px; }
          .create .global-row .content-wrapper > .sortable .zone .bloc:hover {
            cursor: default;
            border: 1px solid deepskyblue; }
        .create .global-row .content-wrapper > .sortable .zone .z-action {
          position: absolute;
          top: 0;
          left: 0px;
          width: 20px;
          height: 20px;
          background: darkmagenta;
          cursor: pointer;
          z-index: 1000;
          transition: all 0.02s; }
          .create .global-row .content-wrapper > .sortable .zone .z-action a {
            color: #fff; }
          .create .global-row .content-wrapper > .sortable .zone .z-action.edit {
            width: 120px;
            height: 30px; }
        .create .global-row .content-wrapper > .sortable .zone .col-md-1, .create .global-row .content-wrapper > .sortable .zone .col-md-2, .create .global-row .content-wrapper > .sortable .zone .col-md-3, .create .global-row .content-wrapper > .sortable .zone .col-md-4, .create .global-row .content-wrapper > .sortable .zone .col-md-5,
        .create .global-row .content-wrapper > .sortable .zone .col-md-6, .create .global-row .content-wrapper > .sortable .zone .col-md-7, .create .global-row .content-wrapper > .sortable .zone .col-md-8, .create .global-row .content-wrapper > .sortable .zone .col-md-9, .create .global-row .content-wrapper > .sortable .zone .col-md-10,
        .create .global-row .content-wrapper > .sortable .zone .col-md-11, .create .global-row .content-wrapper > .sortable .zone .col-md-12 {
          border: 1px solid #adadad; }
        .create .global-row .content-wrapper > .sortable .zone .for-action {
          position: relative; }
          .create .global-row .content-wrapper > .sortable .zone .for-action .action {
            position: absolute;
            top: 0;
            left: 0;
            width: 20px;
            height: 20px;
            display: none;
            background: deepskyblue;
            cursor: pointer;
            z-index: 10;
            transition: all 0.02s; }
            .create .global-row .content-wrapper > .sortable .zone .for-action .action.edit {
              width: 100px;
              height: 30px; }
          .create .global-row .content-wrapper > .sortable .zone .for-action:hover .action {
            display: block; }
          .create .global-row .content-wrapper > .sortable .zone .for-action .content {
            position: relative;
            overflow: hidden;
            border: 1px dashed transparent; }
            .create .global-row .content-wrapper > .sortable .zone .for-action .content:hover {
              border: 1px dashed #adadad; }
            .create .global-row .content-wrapper > .sortable .zone .for-action .content .c-action {
              top: 0;
              right: 0;
              position: absolute;
              width: 20px;
              height: 20px;
              background: #adadad;
              cursor: pointer;
              z-index: 1000; }
              .create .global-row .content-wrapper > .sortable .zone .for-action .content .c-action.edit {
                width: 120px;
                height: 40px; }
                .create .global-row .content-wrapper > .sortable .zone .for-action .content .c-action.edit li a {
                  color: #fff; }

.edit ul {
  padding: 0;
  padding: 5px; }
  .edit ul li {
    font-size: 10px;
    list-style: none; }
    .edit ul li a {
      color: #000; }

.sortable_background {
  background: #ffffaa; }

/*# sourceMappingURL=styles.css.map */
