{# templates/page.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}{{ page.name }}{% endblock %}


{% block stylesheets %}

{% endblock %}

{% block body %}

<div class="">
{{ page.cache|raw }}
</div>



{% endblock %}



{% block javascripts %}
	<script>
$('.carousel').carousel({
  interval: 2000
})
	</script>
{% endblock %}