{# templates/page.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}{{ page.name }}{% endblock %}


{% block stylesheets %}
<link href="{{ asset('css/styles'~page.id~'.css') }}" type="text/css" rel="stylesheet" media="screen" />
{% endblock %}

{% block body %}

<div class="">
{{ page.content|raw }}
</div>



{% endblock %}



{% block javascripts %}
	<script>
$(document).ready(function() {

	$('.carousel').carousel({
  		interval: 2000
	})

	$.ajax({
		method: "POST",
		url: "/page/load/{{ page.id }}",
		success: function(result) {
			data=JSON.parse(result);
			console.log(data);
			for(bloc in data.blocs) {
				$("#"+bloc).html(data.blocs[bloc]);
				console.log(bloc);
			}
		},

	})
})

	</script>
{% endblock %}